/*--------------------------------
  Top Bannner Style
---------------------------------*/

.container {
    display: flex;
    color: aliceblue;
    background-color: black;
    width: 1500px;
    height: 800px;
    border-radius: 25px;

}



.top-banner {
    font-family: 'Poppins', sans-serif;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


h1 {
    font-size: 100px;
    margin-left: 50px;
}

.banner {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
}



.banner-img img {
    margin-top: 50px;
    width: 750px;
    height: 750px;

}


.live {
    background-color: red;
    margin-left: 50px;
    width: 200px;
    height: 60px;
    color: whitesmoke;
    font-size: 30px;
    border: 0px;
    border-radius: 5px;
}









/*---------------------------------
    Box and Blogs Style
----------------------------------*/



button {
    background-color: whitesmoke;
    height: 60px;
    width: 240px;
    margin-left: 60px;
    margin-top: 35px;
    font-size: 25px;
    border-radius: 8px;
    border: 0px;
}


#match {
    background-color: red;
}







.box {
    background-color: black;
    width: 350px;
    height: 350px;
    margin-left: 200px;

    margin-top: 150px;
    border-radius: 15px;
}





.flexible-container {
    display: flex;
}

.blogs-vs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 100px;
}




.blog {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;


}

.blogs {
    background-color: whitesmoke;
    height: 300px;
    width: 350px;
    border: 2px solid white;
    margin-top: 150px;
    margin-left: 20px;
    border-radius: 10px;
}

.vs {
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;


}


h2 {
    margin-left: 65px;
    font-family: 'Poppins', sans-serif;

}

.date {
    margin-left: 75px;
    font-family: 'Poppins', sans-serif;


}






/*------------------------------
   Footer
-------------------------------*/

.footer {
    background-color: black;
    width: 1890px;
    height: 600px;
    font-family: 'Poppins', sans-serif;


}


h3 {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;

}

hr {
    color: dimgrey;
    margin-left: 150px;
    margin-right: 150px;
}



.goal {
    color: darkgrey;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;


}


.goal p {
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;

}


.social-icon {

    text-align: center;

    font-size: 50px;




}

.fa-facebook {
    color: cornflowerblue;
}



#you-tube {
    color: red;
}


#instagram {
    color: brown;
}


.follow {
    background-color: aliceblue;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 40px;
}

.last {
    color: white;
    text-align: center;
    padding-left: 47%;
    padding-top: 5px;
}




/*------------------------------
   Media Queries
------------------------------*/

/*----------------------------
    Tablet Devices
---------------------------*/


@media screen and (max-width: 1710px) {


    .blogs-vs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 300px;
    }

    .box {
        display: inline;
        text-align: center;

    }







    .flexible-container {
        display: block;
        margin-right: 300px;
        margin-left: 50px;
    }

    .box {
        radius: 15px;
        background-color: white;



    }

    hr {
        color: dimgrey;
        margin-left: 60px;
        margin-right: 250px;
    }
}














/*--------------------------
    Media Queries
  ---------------------------*/

/*-----------------------------
    Mobile Device
  ---------------------------*/
@media screen and (max-width: 500px) {



    .container {

        color: aliceblue;
        background-color: black;
        width: 450px;
        height: 850px;
        border-radius: 25px;
        display: block;

    }

    h1 {
        font-size: 40px;
        margin-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    p {
        font-size: 15px;
        margin-left: 30px;
        margin-top: 10px;
        padding-right: 30px;
        text-align: center;
    }



    .banner-img img {
        margin-top: 50px;
        width: 400px;
        height: 342px;
        margin-left: 30px;

    }


    .live {
        text-align: center;
        margin-left: 140px;
    }




    .blogs-vs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5px;
    }


    .footer {
        background-color: black;
        width: 500px;
        height: 800px;
        font-family: 'Poppins', sans-serif;



    }



    .goal {
        color: darkgrey;
        display: block;
        font-size: 50px;
        margin-bottom: 60px;

        margin-top: 50px;
    }

    hr {
        color: dimgrey;
        margin-left: 50px;
        margin-right: 50px;
    }

    .last {
        padding-left: 180px;
        text-align: center;
    }


}